body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    cursor: none;
    background: linear-gradient(45deg, #00ff00, #008000);
    display: flex;
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.text-side {
    flex: 1;
    padding: 20px;
}

.lottie-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, rgba(255, 64, 129, 0.8) 0%, rgba(0, 255, 0, 0.2) 100%);
    /* Gradient smokey effect */
    border-radius: 50%;
    pointer-events: none;
}

.smoke-particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    pointer-events: none;
    animation: smokeAnimation 1s ease-out;
}

@keyframes smokeAnimation {
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}

.bounce-animation {
    animation: bounceAnimation 0.5s ease-in-out alternate infinite;
}

@keyframes bounceAnimation {
    to {
        transform: translateY(-10px);
    }
}